
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: var(--tg-theme-text-color);
}

body {
    width: 100%;
    max-width: 360px;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: var(--tg-theme-bg-color);
}

#title {
    text-align: center;
}

#title .muted {
    color: var(--tg-theme-hint-color);
    font-size: medium;
}

#items {
    margin: 0 auto;
    padding: 0 0.7rem;
}

.item {
    padding: 0.7rem 0;
}

.item a {
    margin-left: 10px;
    text-decoration: none;
}

.item:not(:last-child) {
    border-bottom: 1px solid var(--tg-theme-hint-color);
}

input[type="checkbox"] {
    display: none;
}

.collapse {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.7s ease-out;
}

.toggle ~ label::after {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-left: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}

.toggle:checked + label::after {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked ~ .collapse {
    max-height: 200px;
}

.toggle + label {
    cursor: pointer;
}

p {
    text-align: center;
    color: var(--tg-theme-hint-color);
}
